@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,400;1,6..12,300&display=swap');

/*Generic style*/
body {
   font-family: 'Nunito Sans', sans-serif; 
   overflow: auto;
   background-color: whitesmoke;
   margin: 0;
}

#intro-text, .v-center {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.5rem;
    align-self: center;
    padding: 0 1em;
    color: white;
   
}


h4 {
    color: white;
    padding-left: 15px;
    letter-spacing: 4px;
    
}

/*Background image*/
#home {
    background-image: url('../images/home-page-image.webp');
}


.background-image {
    height: 100vh;
    background: center 20% /cover no-repeat;

}


/*Header*/
header {
    background-color: black;
    padding: 0;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

header a {
    text-decoration: none;
    color: white;
    padding-right: 15px;
} 

#navbar {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
 
}

#navbar > li {
    margin-bottom: 0;

}


.center {
    justify-content: center;
    display: flex;
}


/*
nav>a:hover {
    color: silver;
} */

.active,
a:hover {
    border: 1px solid white;
    color: white;
    padding: 0 5px;
}

/* Removes the border on click around the logo */
#logo,
a:hover {
    border: none;
    font-size: 120%;
    margin-bottom: 0;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: black;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

/* Nav-toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

#nav-toggle-label {
    font-size: 1rem;
}

.fa-solid, .fas {
    color: white;
    padding-right: 1em;
    font-size: 150%;
}

/*Learn more and sign me up button on home page*/
.submit {
    padding: 5px;
    font-size: 1rem;
   
}

#sign-me-up {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 2px;
  
}

#learn-more {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 2px;
}

/* Section styling on coffee ceremony page*/

.introduction {
    text-align: center;
    text-transform: uppercase;
    padding-top: 100px;

}

#how {
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    padding-bottom: 2.5em;
}

#ceremony-text {
    font-size: 1em;
    padding-bottom: 1em;
}

.coffee {
    text-align: center;
    padding: 0 50px;
    padding-bottom: 1em;

}

#ceremony {
    text-align: left;
    padding-bottom: 2.5em;
}

#roasting,
#brewing,
#serving {
    border: 1px solid black;
    box-sizing: border-box;
    text-align: left;
}


/* Div images to the sections roasting, brewing and serving */

#roasting {
    background-image: url('../images/roasting-coffee.webp');
    background-size: cover;
    flex-wrap: wrap;
    height: 200px;
    display: flex;
    align-items: flex-end;
    width: 60vw;
    margin: 10% 0;
    padding: 10%;
}

#brewing {
    background-image: url('../images/brewing-coffee.webp');
    background-size: cover;
    flex-wrap: wrap;
    height: 200px;
    display: flex;
    align-items: flex-end;
    width: 60vw;
    margin: 10% 0;
    padding: 10%;
    
}

#serving {
    background-image: url('../images/serving-coffee.webp');
    background-size: cover;
    flex-wrap: wrap;
    height: 200px;
    display: flex;
    align-items: flex-end;
    width: 60vw;
    margin: 10% 0;
    padding: 10%;
    margin-bottom: 100px;
}

/* Style the text in the divs */

#roasting > p,
#brewing > p,
#serving > p {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    margin: 0;
 
}


/* Footer */

footer {
    background-color: black;
    padding: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 99
}

footer p {
    color: white;
    text-align: center;
}

footer > a {
 text-decoration: none;
}
#social-media {
    text-align: center;
    padding:  0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
   
}

#social-media i {
    font-size: 110%;
    padding: 5%;
    color: white;
}

/* Media query tablets and larger screens, 768 px and up*/

@media screen and (min-width: 768px) {
    /*Header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
    }

    #navbar {
        display: flex;
    }

    #navbar > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 130%;
        line-height: 75px;
        margin: 0 0.5rem;
        letter-spacing: 4px;
    }

    /* Main content*/
}


/* Large devices, laptops and desktops, 992 px and up 
@media screen and (min-width: 992px) {
    .coffee {
        max-width: 50%;
    }
}
/* Very large laptops and desktops, 1200 px and up 
@media screen and (min-width: 1200px) {
    .coffee {
        max-width: 50%;
    }
}
*/