@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,400;1,6..12,300&display=swap');

/*Generic style*/
body {
   font-family: 'Nunito Sans', sans-serif; 
}

h2, .vertical-center {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.5rem;
    margin: 0;
    align-self: center;
    padding-bottom: 20px;
}

/*Header*/
header {
    color: white;
    background-color: black;
}

/*Background image*/
#home {
    background-image: url('../images/home-page-image.webp');
}

.page-header {
    height: 100vh;
    background: center 75% /cover no-repeat;
}
