@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,400;1,6..12,300&display=swap');

/*Generic style*/
body {
   font-family: 'Nunito Sans', sans-serif; 
   overflow: hidden;
   background-color: whitesmoke;
   margin: 0;
}

h2, .vertical-center {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2.5rem;
    margin: 0;
    align-self: center;
    text-align: center;
    padding-bottom: 20px;
}

/*Header*/
header {
    color: white;
    background-color: black;
}

/*Background image*/
#home {
    background-image: url('../images/home-page-image.webp');
}

.page-header {
    height: 100vh;
    background: center 30% /cover no-repeat;

}

.center {
    justify-content: center;
    display: flex;
}

/*Navigation bar*/
nav {
    padding: 1rem;
}

.navbar {
    background-color: black;
    text-align: right;
}

nav>a {
    text-decoration: none;
    color: white;
    margin: 1rem;
}

nav>a:hover {
    color: silver;
}

.active,
a:hover {
    border: 1px solid white;
    color: white;
    padding: 0 5px;
}

/*Learn more and sign me up button on home page*/
.submit {
    padding: 5px;
    font-size: 1rem;
   
}

#sign-me-up {
    background-color: white;
    color: black;
    border: 1px solid black;
  
}

#learn-more {
    background-color: black;
    color: white;
    border: 1px solid white;
}